@tailwind base; 
@tailwind components;
@tailwind utilities;

*{
    background-color: yellowgreen;
}
.show{
    display: block;
}

.hidden{
    display: none;
}

.alphabet{
    font-size:1.5rem;
    background-color: blue;
    color: white;
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
}

.alphabet:hover {
    color:blue;
    background-color: white;
}

.afterClicked{
    cursor: not-allowed;
}


.guesses {
    text-align: center;
    font-size: x-large;
    padding-bottom: 2rem;
}

.win_condition, 
.lose_condition{
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    flex-direction: column;
}

.winning_button,
.losing_button{
    font-size: larger;
    background-color: white;
    color: black;
    border: 5px solid black;
    padding: .5rem;
    cursor: pointer;
}

.winning_button:hover, 
.losing_button:hover{
    background-color: black;
    color: white;
    border-color: white;
}

.win_condition.show{
    display: flex;
}

.lose_condition.show{
    display: flex;
}