@tailwind base; 
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
    background-color: yellowgreen;
}

nav{
    background: blue !important;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    background-color: blue;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a:hover{
    color:blue;
    background-color: white;
}
.show{
    display: block;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: auto;
}

.hidden{
    display: none;
}

.alphabet{
    font-size:1.5rem;
    background-color: blue;
    color: white;
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 4px;
}

.alphabet:hover {
    color:blue;
    background-color: white;
}

.resetbtn {
    font-size:1.5rem;
    background-color: red;
    padding: .2rem;
    margin:1rem;
    border-radius: 4px;
}

.resetbtn:hover {
    color:red;
    background-color: black;
}

.afterClicked{
    cursor: not-allowed;
    display: none;
}

.guesses {
    text-align: center;
    font-size: x-large;
    padding-bottom: 2rem;
}

.win_condition, 
.lose_condition{
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    flex-direction: column;
}

.winning_button,
.losing_button{
    font-size: larger;
    background-color: white;
    color: black;
    border: 5px solid black;
    padding: .5rem;
    cursor: pointer;
}

.winning_button:hover, 
.losing_button:hover{
    background-color: black;
    color: white;
    border-color: white;
}

.win_condition.show{
    display: flex;
}

.lose_condition.show{
    display: flex;
}
